.pageLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(249, 253, 253);
}
* {box-sizing: border-box}

.left {
  display: flex;
  flex-direction: column;
  flex-flow: column-wrap;

}
#logotitle {
  background-color: rgba(0, 0, 0, 0.7);
  top: 40vh;
  gap: 1vw;
  padding: 10px 0;

  justify-content: center;
  align-items: center;
}

body{
  background-color: black;
}
#logo{
  height: 10vh;
  width: 10vh;
  background-color: #04AA6D;
}
#building {
  position: relative; 
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center; /* Center the image */
}
 

p{
  position: relative;
  color: rgb(55, 83, 121);
  float: left
}
h1{
  float: right;
color: rgb(222, 181, 30);

}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


/* Float cancel and signup buttons and add an equal width */
 .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for  signup button on extra small screens */
@media screen and (max-width: 300px) {
   .signupbtn {
    width: 100%;
  }
}